@if (store.session()) {
  <div class="view-toggle">
    <span class="label">{{ 'views.toggle.label' | transloco }}</span>
    <sbb-checkbox-group orientation="horizontal" size="s">
      <sbb-checkbox
        [checked]="store.showMap()"
        (change)="toggleMap()">
        {{ 'views.toggle.map' | transloco }}
      </sbb-checkbox>
      <sbb-checkbox
        [checked]="store.showMarey()"
        (change)="toggleMarey()">
        {{ 'views.zugWeg' | transloco }}
      </sbb-checkbox>
    </sbb-checkbox-group>
  </div>
}
