@if (isCanvasPanel) {
  <div
    class="layout-panel-shell layout-panel-shell--canvas"
    [class.layout-panel-shell--colearning]="colearningModule()"
    [class.layout-panel-shell--guide-focus]="isGuideFocus()"
    [attr.data-panel-type]="panel.type"
    [attr.data-panel-zone]="panel.zone"
    [attr.data-testid]="'panel-' + panel.type"
  >
    <div class="layout-panel-shell__header layout-panel-shell__header--canvas">
      <span class="layout-panel-shell__title" [attr.title]="moduleHint()">{{ i18n.panelTitle(panel) }}</span>
    </div>

    <div class="layout-panel-shell__body layout-panel-shell__body--canvas">
      <app-panel-plugin-host [panel]="panel"></app-panel-plugin-host>
    </div>
  </div>
} @else {
  <sbb-expansion-panel
    class="layout-panel-shell layout-panel-shell--expansion"
    [class.layout-panel-shell--colearning]="colearningModule()"
    [class.layout-panel-shell--guide-focus]="isGuideFocus()"
    color="white"
    size="s"
    [attr.data-panel-type]="panel.type"
    [attr.data-panel-zone]="panel.zone"
    [attr.data-testid]="'panel-' + panel.type"
    [attr.expanded]="expandedAttribute"
  >
    <sbb-expansion-panel-header (click)="toggleExpanded()">
      <div class="layout-panel-shell__header">
        <span class="layout-panel-shell__title" [attr.title]="moduleHint()">{{ i18n.panelTitle(panel) }}</span>

        @if (panel.hidden) {
          <span class="layout-panel-shell__meta">{{ 'panels.hidden' | transloco }}</span>
        }
      </div>
    </sbb-expansion-panel-header>

    <sbb-expansion-panel-content class="layout-panel-shell__content">
      @if (isExpanded()) {
        <div class="layout-panel-shell__body layout-panel-shell__body--scroll">
          <app-panel-plugin-host [panel]="panel"></app-panel-plugin-host>
        </div>
      }
    </sbb-expansion-panel-content>
  </sbb-expansion-panel>
}
