@if (embedded) {
  <ng-container [ngTemplateOutlet]="kpiFilterContent"></ng-container>
} @else {
  <sbb-expansion-panel class="lyne-feature-panel kpi-filter-lyne-panel" color="white" size="s" expanded>
    <sbb-expansion-panel-header>
      <span class="lyne-panel-title">{{ 'kpiFilter.title' | transloco }}</span>
    </sbb-expansion-panel-header>

    <sbb-expansion-panel-content class="lyne-panel-content">
      <ng-container [ngTemplateOutlet]="kpiFilterContent"></ng-container>
    </sbb-expansion-panel-content>
  </sbb-expansion-panel>
}

<ng-template #kpiFilterContent>
  <div class="kpi-filter">
    <p class="hint">{{ 'kpiFilter.hint' | transloco }}</p>

    <div class="kpi-list">
      @for (kpi of kpis; track kpi.key) {
        <div class="kpi-row">
          <div class="kpi-head">
            <span class="kpi-label">{{ 'kpiFilter.kpi.' + kpi.key | transloco }}</span>
            <span class="kpi-value">{{ pct(store.kpiPriorities()[kpi.key]) }}</span>
          </div>
          <div class="dots">
            @for (filled of dotStates(store.kpiPriorities()[kpi.key]); track $index; let i = $index) {
              <span class="dot"
                    [class.filled]="filled"
                    (click)="setValue(kpi.key, (i + 1) / 10)">
              </span>
            }
          </div>
        </div>
      }
    </div>
  </div>
</ng-template>
