@if (embedded) {
  <app-left-sidebar [viewOnly]="viewOnly"></app-left-sidebar>
} @else {
  <sbb-expansion-panel class="lyne-feature-panel agents-panel-lyne-panel" color="white" size="s" expanded>
    <sbb-expansion-panel-header>
      <span class="lyne-panel-title">{{ 'panels.agents' | transloco }}</span>
    </sbb-expansion-panel-header>

    <sbb-expansion-panel-content class="lyne-panel-content">
      <app-left-sidebar [viewOnly]="viewOnly"></app-left-sidebar>
    </sbb-expansion-panel-content>
  </sbb-expansion-panel>
}
