<div
  class="layout-renderer"
  [style.grid-template-columns]="gridTemplateColumns()"
>
  @for (zone of zones; track zone) {
    <section
      class="layout-renderer__column"
      [attr.data-zone]="zone"
    >
      @for (panel of panelsByZone(zone); track panel.id) {
        <app-panel-shell [panel]="panel"></app-panel-shell>
      } @empty {
        <div class="layout-renderer__empty">
          {{ 'layout.emptyZone' | transloco: { zone: ('layout.zone.' + zone | transloco) } }}
        </div>
      }
    </section>
  }
</div>
